@charset "UTF-8";
*{
	padding:0px;
	margin:0px;
}
::-webkit-scrollbar{
    display:none;
}
.head{
	height:200px;
	background-image:url('../../img/index.jpg');
	color:white;
}
.head .div1{
	font-weight:bold;
	float:left;
	text-align:center;
	line-height:50px;
	width:150px;
}
.head .div2{
	display:inline-block;
	width:100%;
	line-height:100px;
	text-align:center;
	font-size:20px;
}
.head .div3{
	display:inline-block;
	float:right;
	margin-top: -9px;
}
.div3 a{
	text-decoration:none;
	display:inline-block;
	padding:0px 10px 0px 10px;
	height:40px;
	line-height:40px;
	text-align:center;
	color:white;
}
.zj{
	height:2350px;
	position:relative;
	top:40px;
}
.zj .zj1{
	width:40%;
	position:absolute;
	left:19%;
}
.zj .zj2{
	width:25%;
	position:absolute;
	right:12%;
}

.zj2 .btn{
	background-color:white;
    border: none;
    color: black;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.zj22 .btn1{
	position:absolute;
	left:254px;
	top:1px;
	height:36px;
	border:0px; 
}
.divq{
	margin:5px;
}
.divw div{
	margin:5px;
}
